<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
	<meta charset="ISO-8859-1">
	<title>brands</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>

<body class="bg-dark text-dark bg-opacity-10 mh-100">
	<div th:replace="fragments :: menu"></div>
	<div class="row mx-0 h-100">
		<div class="col-3 pt-5 mt-5 pb-5 border-end border-4 border-dark">
			<div th:replace="sidemenu :: sidemenu"></div>
		</div>
		<div class="col-8 mt-5 ">
			<div class="container mt-5 ms-5">
				<div class="text-end mb-4">
					<div>
						<a class="btn btn-primary" th:href=@{/brands/new}>Add new brand</a>
					</div>
				</div>
				<div class="row justify-content-center ">
					<table class="table table-bordered border-dark bg-light border-5">
						<thead>
							<tr>
								<th> Id</th>
								<th> Name</th>
								<th> Categories</th>
								<th> edit</th>
								<th> delete</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="brand : ${listBrands}">
								<tr>
									<td>[[${brand.id}]]</td>
									<td>[[${brand.name}]]</td>
									<td>
										<th:text th:each="categories : ${brand.categories}">
											<span th:text="${categories}"></span>
										</th:text>
									</td>
									<td>
										<a th:href="@{'/brands/edit/' + ${brand.id}}"> edit</a>
									</td>
									<td>
										<a th:href="@{'/brands/delete/' + ${brand.id}}"> delete</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


</body>

</html>