<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
	<meta charset="ISO-8859-1">
	<title>brands</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>

<body class="bg-dark p-2 text-dark bg-opacity-10">
	<div th:replace="fragments :: menu"></div>
	<div class="row">
		<div class="col-3"></div>

		<div class="col-6 mt-5 border">
			<ul class="list-group list-group-flush mt-4 ms-3 px-4">
				<li class="list-group-item mb-4">
					<a class="list-group-item " th:href=@{/categories}>Categories</a>
				</li>
				<li class="list-group-item mb-4">
					<a class="list-group-item " th:href=@{/products}>Products</a>
				</li>
				<li class="list-group-item mb-4">
					<a class="list-group-item " th:href=@{/brands}>Brands</a>
				</li>
				<li class="list-group-item mb-4">
					<a class="list-group-item " th:href=@{/users}>Users</a>
				</li>
			</ul>
		</div>
		<div class="col-3"></div>
	</div>


</body>

</html>