<div th:fragment="sidemenu">
  <ul class="list-group list-group-flush mt-4 ms-3 px-4 ">
    <div class=" pb-4">
      <a class="btn btn-dark w-100 p-3" th:href=@{/categories}>Categories</a>
    </div>
    <div class=" pb-4">
      <a class="btn btn-dark w-100 p-3" th:href=@{/products}>Products</a>
    </div>
    <div class=" pb-4">
      <a class="btn btn-dark w-100 p-3" th:href=@{/brands}>Brands</a>
    </div>
    <div class=" pb-4">
      <a class="btn btn-dark w-100 p-3" th:href=@{/users}>Users</a>
    </div>
  </ul>
</div>